.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 480px;
}
.section1__left {
  width: 180px;
}
.section1__left--title {
  font-size: 20px;
}

.section1__left--subtitle {
  font-size: 14px;
}

.section1__right {
  width: 190px;
  height: 200px;
}
.section1__right--photo {
  width: 100%;
}

.section2 {
  width: 480px;
}
.section2__text {
}
