.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 480px;
}
.section1__left {
  width: 180px;
}
.section1__left--title {
  font-size: 20px;
}

.section1__left--subtitle {
  font-size: 14px;
}

.section1__right {
  width: 190px;
  height: 200px;
}
.section1__right--photo {
  width: 100%;
}

.section2 {
  margin-top: 50px;
}
.section2__text {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.section2__text--para {
  margin-bottom: 20px;
}
