@import 'Variables';

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerMain {
  background-color: $color3;
  width: 100%;
}
