@import 'Variables';

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color7;
}
.containerMain {
  margin-top: 80px;
}
