@import 'Variables';

.containerFooter {
  width: 280px;
  border-top: 1px $color6 solid;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.containerFooter__copy {
  display: flex;
  flex-direction: column;
  font-family: $tipo1;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.containerFooter__copy--link {
  cursor: pointer;
}
.containerFooter__copy--link:hover {
  font-weight: 900;
}

@media all and (min-width: 768px) {
  .containerFooter {
    width: 480px;
    margin-top: 80px;
  }
  .containerFooter__copy {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 1280px) {
}
