@import 'Variables';

.containerFooter {
  width: 280px;
  border-top: 1px $color6 solid;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.containerFooter__copy {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

//RESPONSIVE

@media all and (min-width: 768px) {
  .containerFooter {
    width: 480px;
    border-top: 1px $color6 solid;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .containerFooter__copy {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 1280px) {
}
