@import 'Variables';
.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $color7;
  width: 280px;
}
.containerHeader__title {
  font-size: 25px;
  text-transform: capitalize;
}

.menu1,
.menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 5px;
}
.menu1__item,
.menu2__item {
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
}

.menu1__item:hover,
.menu2__item:hover {
  color: $color4;
}

.menu1__item--none {
  display: none;
}

//RESPONSIVE

@media all and (min-width: 768px) {
  .containerHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 480px;
  }
  .containerHeader__title {
    font-size: 20px;
  }
  .containerHeader__nav {
    display: flex;
  }
  .menu1,
  .menu2 {
    margin-top: 20px;
  }
  .menu1__item--none {
    display: inherit;
  }
}

@media all and (min-width: 1280px) {
}
