@import 'Variables';
.containerHeader {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $color7;
  width: 100%;
}
.containerHeader__title {
  font-size: 20px;
  text-transform: capitalize;
}
.containerHeader__subtitle {
  font-size: 10px;
  font-weight: 200;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 20px;
}
.menu__item {
  text-transform: uppercase;
  margin-left: 5px;
}
.menu__item--icon {
  margin-left: 10px;
  font-size: 12px;
}
