@import 'Variables';

.house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house__shape {
  background: $color7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 55px;
  position: relative;
}
.house__shape::before {
  border-bottom: 60px solid $color7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: -60px;
  width: 0;
}

// .house__shape:hover {
//   background: $color1;
// }

.house__shape--image {
  width: 50px;
  height: 50px;
}

.photo {
  width: 100%;
}

.house__shape--tech {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 200;
}
.house__title {
  font-size: 10px;
  text-transform: uppercase;
  margin: 10px;
}
