@import 'Variables';

.icon {
  width: 20px;
  height: 20px;
}

.icon__image {
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
}

.project__shape {
  background: $color7;
  width: 150px;
  height: 200px;
}

.project__shape:hover {
  opacity: 0.3;
}

.project__shape--image {
  width: 150px;
}

.photo {
  width: 100%;
}

.project__shape--tech {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 200;
}
.project__title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}
.project__subtitle {
  font-size: 12px;
  font-weight: 400;
}
