// colors
$color1: #ffe81f;
$color2: rgba(255, 232, 31, 0.7);
$color3: rgb(207, 205, 205);
$color4: grey;
$color5: rgb(73, 73, 73);
$color6: black;

// https://simpleicons.org/
// icons
$colorJs: #f7df1e;
$colorReact: #61dafb;
$colorHtml5: #e34f26;
$colorCss3: #1572b6;
$colorSass: #cc6699;
$colorGit: #f05032;
$colorGitHub: #181717;
